#Server info - start 
NODE_ENV = "development" # type: string, regex: (/^(development|production)$/)
ALLOWED_ORIGINS = "*" # type: array, regex: (/^\*$|^$|^(https?:\/\/[^,\s]+)(,https?:\/\/[^,\s]+)*$/)
PORT = "3098" # type: number, regex: (/^\d{4,5}$/)
SERVER_NAME = "Getavails-server" # type: string, regex: (/^\w[\w\s-]{1,50}$/)
LOGO = "/images/logo.png" # type: string, regex: (/^\/.*\.(png|jpg|jpeg|svg)$/)
DEFAULT_AVATAR = "/images/placeholder.png" # type: string, regex: (/^\/.*\.(png|jpg|jpeg|svg)$/)
DB_NAME = "getavails-server" # type: string, regex: (/^\w[\w\s-]{1,50}$/)
MOCK_MAIL = "true" # type: boolean, regex: (/^(true|false)$/)
#Server info - end 


#Database info - start 
DATABASE_URL = "postgresql://admin:admin@localhost:5432/getavails-server?schema=public" # type: string, regex: (/^postgresql://.*/)
UI_URL = "http://localhost:3098" # type: string, regex: (/^https?:\/\/.*$|^$/)
HREF_URL = "http://localhost:3098" # type: string, regex: (/^https?:\/\/.*$|^$/)
PAYMENT_WEBHOOK_ENDPOINT = "http://localhost:3098/api/v1/payments/stripe/webhook" # type: string, regex: (/^https?:\/\/.*\/payments\/stripe\/webhook$|^$/)
PAYMENT_SUCCESS_URL = "http://localhost:3098/payments/success-callback" # type: string, regex: (/^https?:\/\/.*$|^$/)
PAYMENT_FAILURE_URL = "http://localhost:3098/payments/cancel-callback" # type: string, regex: (/^https?:\/\/.*$|^$/)
#Urls - end 


#Authentication - start 
BCRYPT_SALT_ROUNDS = "10" # type: number, regex: (/^\d+$/)
OTP_LENGTH = "6" # type: number, regex: (/^\d{1,2}$/)
OTP_EXPIRE_IN = "5m" # type: string, regex: (/^\d+(ms|s|m|h|d|w|y)$/)
JWT_ACCESS_SECRET = "4896a0c6d8dac10abfd931cfc2415123a1b76827ae32c4aa77ede790c174dd2d" # type: string, regex: (/^.{10,}$/)
JWT_ACCESS_EXPIRE_IN = "1d" # type: string, regex: (/^\d+(ms|s|m|h|d|w|y)$/)
JWT_REFRESH_SECRET = "68a80ec21bc00d91c9b2a353475ec9c7a56da9b881d99c74b6670ba1b0c20c5b" # type: string, regex: (/^.{10,}$/)
JWT_REFRESH_EXPIRE_IN = "30d" # type: string, regex: (/^\d+(ms|s|m|h|d|w|y)$/)
JWT_RESET_SECRET = "a38544f08333a0412b8fdc72056e602d7bf07ce7c33397c0fd23cf982407ed66" # type: string, regex: (/^.{10,}$/)
JWT_RESET_EXPIRE_IN = "10m" # type: string, regex: (/^\d+(ms|s|m|h|d|w|y)$/)
#Authentication - end 


#Email info - start 
EMAIL_USER = "getavails-server@gmail.com" # type: string, regex: (/^[\w.-]+@[\w.-]+\.\w+$/)
EMAIL_PORT = "587" # type: number, regex: (/^\d{2,5}$/)
EMAIL_HOST = "smtp.gmail.com" # type: string, regex: (/^[\w.-]+\.[a-z]{2,}$/)
EMAIL_PASS = "4d12f58c" # type: string, regex: (/^.{4,}$/)
SUPPORT_EMAIL = "support@getavails-server.com" # type: string, regex: (/^[\w.-]+@[\w.-]+\.\w+$/)
#Email info - end 


#Admin info - start 
ADMIN_NAME = "Mr. Admin" # type: string, regex: (/^.{2,100}$/)
ADMIN_EMAIL = "admin@getavails-server.com" # type: string, regex: (/^[\w.-]+@[\w.-]+\.\w+$/)
ADMIN_PASSWORD = "03bea788" # type: string, regex: (/^.{6,32}$/)
#Admin info - end 


#Payment info - start 
PAYMENT_CURRENCY = "usd" # type: string, regex: (/^[a-z]{3}$/)
STRIPE_SECRET_KEY = "sk_test_0ada21e3f22656838b62d99c4a9c4afd8d4d777459ecdc92" # type: string, regex: (/^sk_test_[0-9a-zA-Z]{24,}$/)
PAYMENT_METHODS = "card" # type: array, regex: (/^(card|acss_debit|affirm|afterpay_clearpay|alipay|au_becs_debit|bacs_debit|bancontact|blik|boleto|cashapp|eps|fpx|giropay|grabpay|ideal|klarna|konbini|link|oxxo|p24|paynow|paypal|pix|promptpay|revolut_pay|sepa_debit|sofort|swish|us_bank_account|wechat_pay|zip|acss_debit)(,(card|acss_debit|affirm|afterpay_clearpay|alipay|au_becs_debit|bacs_debit|bancontact|blik|boleto|cashapp|eps|fpx|giropay|grabpay|ideal|klarna|konbini|link|oxxo|p24|paynow|paypal|pix|promptpay|revolut_pay|sepa_debit|sofort|swish|us_bank_account|wechat_pay|zip|acss_debit))*$/)
#Payment info - end 


#Google OAuth - start 
GOOGLE_OAUTH_CLIENT_ID = "google-client-id.apps.googleusercontent.com" # type: string, regex: (/^[\w-]+\.apps\.googleusercontent\.com$/)
GOOGLE_OAUTH_CLIENT_SECRET = "9bd17491a04a53fe9545a237bd0659a9b683" # type: string, regex: (/^.{10,}$/)
GOOGLE_OAUTH_TOKEN_ENCRYPTION_KEY = "f917ab04891c4de56d32877cd766e9e78e5cdeddd213386cc866a5627a96bd02" # type: string, regex: (/^.{10,}$/)
GOOGLE_OAUTH_REDIRECT_URI = "http://localhost:3098/api/v1/calendars/google-auth-callback" # type: string, regex: (/^https?:\/\/.*$|^$/)
#Google OAuth - end 


